
.BookForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
    background-image: url("./background.jpg");
    background-size: cover;
    background-position: center;
  }

  
  .Header{
    display: flex;
    gap: 15px;
    align-items:baseline;
    justify-content: center;
    

  }

  .Header img{
    width:80px;
    height: 40px;
  }

  .Header  h1{
color: #0052cc;

  }

  .form-wrapper {
    background-color: #ffffff;
    padding: 40px;
    margin: 60px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
  }
  
  .editform label {
    font-size: 18px;
    font-weight: 600;
    color: #5c5c5c;
    display: block;
    margin-bottom: 10px;
  }
  
  .editform input[type="text"],
  select,
  textarea {
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #f4f4f4;
  }
  
  select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='5' viewBox='0 0 8 5'%3E%3Cpath fill='%235c5c5c' d='M0 0l4 5L8 0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 8px 5px;
  }

  select option:hover {
    background-color: #0052cc ;
    color: white ;
  }
  
  
  .editform input[type="radio"] {
    appearance: none;
    background-color: #f4f4f4;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: relative;
    top: 2px;
  }
  
  .editform input[type="radio"]:checked:after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #0052cc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .editform textarea {
    height: 150px;
  }
  
  .editform input[type="submit"] {
    background-color: #0052cc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .editform input[type="submit"]:hover {
    background-color: #1a0c96;
  }